$bg-color:#fff;
$text-color: #5f717d;
$hover1: #212529;
$social: #f0efef;
$link: #5F717D;
$in: dimgrey;
$lend: #ff6600;
$app: black;
$hrc: solid rgba(138, 134, 134, 0.1);
$bich: #293C43;
$foot: rgb(231, 231, 231);
$tsenhr: rgb(58, 58, 80);
$nogoon: rgb(74, 87, 74);
$tsenher: rgb(67, 102, 119);
$shargal: rgba(190, 190, 95, 0.568);
$uusalt:rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.5);
$tsaivarnogoon: #c2f2c2;
$ur: rgba(68, 151, 119, 0.212);



